[submodule "projects/crosschain-api"]
	path = projects/crosschain-api
	url = git@github.com:harmony-one/crosschain-api.git
[submodule "projects/dbank"]
	path = projects/dbank
	url = git@github.com:harmony-one/dbank.git
[submodule "projects/defi-tutorial"]
	path = projects/defi-tutorial
	url = git@github.com:harmony-one/defi_tutorial.git
[submodule "projects/decentragram"]
	path = projects/decentragram
	url = git@github.com:harmony-one/decentragram.git
[submodule "projects/crowdfunding"]
	path = projects/crowdfunding
	url = https://github.com/harmony-one/dapp-demo-crowdfunding
[submodule "projects/lottery"]
	path = projects/lottery
	url = https://github.com/harmony-one/harmony-social-game
[submodule "projects/onchain-wallet/1wallet"]
	path = projects/onchain-wallet/1wallet
	url = https://github.com/harmony-one/one-wallet
[submodule "projects/meme_of_the_day"]
	path = projects/meme_of_the_day
	url = git@github.com:harmony-one/meme_of_the_day.git
[submodule "projects/academy-cryptokitties"]
	path = projects/academy-cryptokitties
	url = git@github.com:harmony-one/academy-cryptokitties.git
[submodule "projects/marketplace"]
	path = projects/marketplace
	url = https://github.com/harmony-one/marketplace
