[submodule "projects/crosschain-api"]
	path = projects/crosschain-api
	url = git@github.com:harmony-one/crosschain-api.git
[submodule "projects/dbank"]
	path = projects/dbank
	url = git@github.com:harmony-one/dbank.git
[submodule "projects/defi-tutorial"]
	path = projects/defi-tutorial
	url = git@github.com:harmony-one/defi_tutorial.git
[submodule "projects/decentragram"]
	path = projects/decentragram
	url = git@github.com:harmony-one/decentragram.git
